.about_us {
  margin: 48px 0;
  background-image: url('./assets/bg_about_us.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.about_wrapper {
  margin-left: 88px;
  margin-right: 483px;
  padding: 0 54px 0 0;
  min-height: 599px;
}

.jumbo_title {
  padding: 16px 0;
  font-family: Charter;
  font-size: 56px;
  font-weight: bold;
  line-height: 68px;
  white-space: pre-line;
}

.about_content {
  font-size: 24px;
  line-height: 47px;
}

.trial_cards {
  position: relative;
}

.ask_action_wrap {
  display: flex;
  width: calc(100% - 272px);
  margin: 0 136px;
  align-items: center;

  button {
    padding: 20px 36px;
    border-radius: 8px;
    background-color: #42BCEE;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
  }
}

.ask_line {
  z-index: 6;
  background-color: #B2BDD6;
  width: 75%;
  height: 1px;
}

.trial_content_wrap {
  margin-right: 483px;
  padding: 24px 60px 0 0;
}

.trial_content  {
  width: 520px;
  margin: 60px 0 0 auto;
  text-align: center;

  p {
    white-space: pre-line;
    font-size: 24px;
    font-weight: 100;
    line-height: 40px;
  }

  div {
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
  }
}

.bg_plan {
  position: absolute;
  top: -200px;
  right: 72px;
  height: 507px;
  width: 326px;
  background-image: url('./assets/icon-plan.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}