.about_us {
  margin: 48px 0;
  background-image: url(bg_about_us.png);
  background-repeat: no-repeat;
  background-position: right top; }

.about_wrapper {
  margin-left: 88px;
  margin-right: 483px;
  padding: 0 54px 0 0;
  min-height: 599px; }

.jumbo_title {
  padding: 16px 0;
  font-family: Charter;
  font-size: 56px;
  font-weight: bold;
  line-height: 68px;
  white-space: pre-line; }

.about_content {
  font-size: 24px;
  line-height: 47px; }

.trial_cards {
  position: relative; }

.ask_action_wrap {
  display: flex;
  width: calc(100% - 272px);
  margin: 0 136px;
  align-items: center; }

.ask_action_wrap button {
    padding: 20px 36px;
    border-radius: 8px;
    background-color: #42BCEE;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap; }

.ask_line {
  z-index: 6;
  background-color: #B2BDD6;
  width: 75%;
  height: 1px; }

.trial_content_wrap {
  margin-right: 483px;
  padding: 24px 60px 0 0; }

.trial_content {
  width: 520px;
  margin: 60px 0 0 auto;
  text-align: center; }

.trial_content p {
    white-space: pre-line;
    font-size: 24px;
    font-weight: 100;
    line-height: 40px; }

.trial_content div {
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center; }

.bg_plan {
  position: absolute;
  top: -200px;
  right: 72px;
  height: 507px;
  width: 326px;
  background-image: url(icon-plan.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10; }

.contact_us {
  min-height: 899px;
  background-image: url(bg_contact_us.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative; }

.contact_us_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 88px; }

.contact_info {
  max-width: 580px; }

.contact_info h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 56px; }

.contact_p {
  padding: 40px 0 0 40px; }

.contact_p h2 {
    font-size: 32px;
    line-height: 40px; }

.contact_p p {
    font-size: 18px;
    line-height: 32px; }

.contact_form {
  width: 412px;
  padding: 16px;
  border: 1px solid #42BCEE;
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16); }

.contact_form h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px; }

.form_section {
  padding-top: 8px; }

.form_section label {
    display: block;
    padding: 8px 0;
    color: rgba(34, 34, 34, 0.6);
    font-weight: 800; }

.form_section input, .form_section textarea {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #42BCEE;
    color: rgba(34, 34, 34, 0.6);
    border-radius: 16px;
    display: block;
    font-size: 16px; }

.form_section input::-webkit-input-placeholder, .form_section textarea::-webkit-input-placeholder {
      color: rgba(34, 34, 34, 0.3);
      font-size: 14px; }

.form_section input:-ms-input-placeholder, .form_section textarea:-ms-input-placeholder {
      color: rgba(34, 34, 34, 0.3);
      font-size: 14px; }

.form_section input::-ms-input-placeholder, .form_section textarea::-ms-input-placeholder {
      color: rgba(34, 34, 34, 0.3);
      font-size: 14px; }

.form_section input::placeholder, .form_section textarea::placeholder {
      color: rgba(34, 34, 34, 0.3);
      font-size: 14px; }

.form_section button {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px; }

.footer_text {
  position: absolute;
  bottom: 40px;
  left: 88px;
  color: rgba(34, 34, 34, 0.6);
  font-size: 18px; }

.header {
  display: flex;
  align-items: center;
  padding: 16px 48px; }
  .header ul li {
    display: inline-flex;
    padding: 16px;
    flex-direction: row-reverse; }
  .header ul li a {
      color: rgba(34, 34, 34, 0.6);
      font-size: 14px;
      font-family: 'roboto';
      font-weight: 800;
      line-height: 16px; }
  .header a {
    cursor: pointer; }
  .logo {
  flex: 2 0 0; }
  .main_menu {
  flex: 7 0 0;
  text-align: right; }
  .login {
  flex: 1 0 0;
  text-align: right; }

.our_board h1 {
  padding: 32px 0 32px 88px;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px; }

.our_board_wrap {
  min-height: 693px;
  background-image: url(bg_board.png);
  background-repeat: no-repeat;
  background-position: 124px center;
  display: flex;
  flex-direction: row-reverse; }

.our_board_content {
  max-width: 528px;
  padding: 32px 88px 32px 0; }

@media screen and (max-width: 1260px) {
    .our_board_content {
      max-width: 460px; } }

.our_board_content h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 800; }

.our_board_content p {
    font-size: 18px;
    line-height: 35px; }

.our_service {
  min-height: 598px;
  margin-bottom: 40px;
  background-image: url(bg_our_service.png);
  background-repeat: no-repeat;
  background-position: left top; }

.service_content_wrap {
  display: flex;
  flex-direction: row-reverse; }

.service_content {
  max-width: 560px;
  margin-top: 32px;
  z-index: 10;
  padding: 40px 88px 40px 56px;
  border-radius: 16px 0 0 16px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  font-size: 24px; }

@media screen and (max-width: 1200px) {
    .service_content {
      max-width: 386px; } }

@media screen and (max-width: 1200px) {
    .service_content {
      padding: 40px 50px 40px 40px; } }

.service_content h3 {
    font-size: 24px;
    line-height: 40px;
    white-space: pre-line;
    padding: 8px 0;
    font-weight: 500; }

.service_content ul {
    list-style: disc;
    padding-left: 40px; }

.service_content ul li {
      line-height: 40px; }

.service_search {
  z-index: 5;
  margin: -16px 32px 0 95px;
  padding: 32px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden; }

.service_search h4 {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 800;
    line-height: 21px;
    color: #000000; }

.form_control {
  padding: 0 32px; }

.form_control input {
    width: 360px;
    padding: 12px;
    border: 1px solid #E9EFF4;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px; }

.form_control button {
    margin-left: 12px;
    padding: 12px 32px;
    border-radius: 16px;
    background-color: #1DB1CD;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px; }

.search_topic {
  margin-top: 28px;
  padding: 0 32px; }

.topics_wrap {
  padding: 16px 0; }

.topic_item {
  display: inline-flex;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #E4E8EA;
  border-radius: 16px;
  margin: 0 8px 8px 0; }

.topic_item div {
    padding: 8px;
    font-family: 'roboto'; }

.topic_item button {
    width: 24px;
    border-left: 1px solid #F1F1F1;
    padding: 16px;
    background-image: url(remove-icon.svg);
    background-repeat: no-repeat;
    background-position: center; }

.border_wrap {
  padding: 0 32px;
  display: flex;
  align-items: center; }

.border_wrap span {
    padding: 16px 16px 16px 0;
    color: #1DB1CD;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    font-family: 'roboto'; }

.border_wrap .border_line {
    background-color: #72D0E3;
    width: 100%;
    height: 1px; }

.result {
  padding: 0 32px;
  display: flex; }

.result h4 {
    margin-bottom: 16px; }

.result_graph {
  width: 45%; }

.result_row {
  display: flex; }

.row_info {
  margin-left: 180px;
  padding-bottom: 32px; }

.row_info h3 {
    font-family: 'roboto';
    font-size: 20px;
    font-weight: bold;
    line-height: 32px; }

.graph_text {
  padding: 8px 0;
  font-family: 'roboto'; }

.graph_label {
  border-radius: 8px;
  width: 120px;
  height: 24px; }

.bg_blue {
  background-color: #15B4F1; }

.bg_green {
  background-color: #B8E986; }

.graph_wrapper {
  margin-left: 32px;
  position: relative; }

.graph_cards {
  width: 240px;
  position: absolute;
  left: -32px; }

.profile_circle {
  position: absolute;
  top: 39px;
  left: 94px;
  overflow: hidden;
  width: 52px;
  height: 52px;
  border-radius: 26px; }

.profile_circle img {
    width: 52px;
    height: 52px; }

.result_list {
  width: 55%; }

.list_item {
  padding: 0 0 16px 32px; }

.list_item .label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #269DFA;
    color: #FFFFFF; }

.list_item .soft_item {
    padding: 8px 0;
    color: rgba(34, 34, 34, 0.6); }

.global_trend {
  position: relative;
  display: flex; }

.global_item {
  flex: 1 1 0;
  padding: 0 24px; }

.global_item:first-child {
    padding-left: 32px; }

.global_item:last-child {
    padding-right: 32px; }

.global_item ul {
    list-style: decimal;
    padding-left: 20px;
    padding-top: 16px;
    text-align: left; }

.global_item ul li {
      padding: 8px 0;
      font-size: 16px;
      line-height: 22px; }

.see_all {
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  padding-top: 90px;
  color: #72D0E3;
  font-family: 'roboto';
  font-size: 24px;
  font-weight: bold;
  line-height: 28px; }

.blocking {
  background-color: #FFFFFF;
  padding: 50px 0; }

.pricing {
  padding: 0 88px 88px; }
  .pricing h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px; }
  .pricing_wrap {
  margin-top: 40px; }
  .pricing_item_grey {
  padding: 16px;
  background-color: rgba(216, 216, 216, 0.5);
  width: 100%; }
  .pricing_footer {
  padding: 0; }
  .pricing_footer button {
    width: 100%;
    padding: 32px 0;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600; }
  .pricing_row {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between; }
  .cols, .pricing_column, .column_header, .column_footer {
  margin-right: 16px;
  width: 100%;
  padding: 12px 16px;
  text-align: center;
  white-space: pre-wrap;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pricing_column {
  box-shadow: 6px 0 6px -6px rgba(0, 0, 0, 0.09); }
  .row_grey > .pricing_column {
  background-color: rgba(216, 216, 216, 0.5); }
  .column_header {
  background-color: #42BCEE;
  color: #FFFFFF;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  box-shadow: 6px 0 6px -6px rgba(0, 0, 0, 0.09); }
  .column_header h3 {
    font-size: 24px; }
  .column_header div {
    padding-top: 4px;
    font-size: 16px;
    font-family: 'roboto'; }
  .header_empty, .footer_empty {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0 !important; }
  .column_footer {
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  box-shadow: 6px 0 6px -6px rgba(0, 0, 0, 0.09);
  padding: 0; }
  .column_footer button {
    width: 100%;
    padding: 32px 0;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600; }

.why_us {
  min-height: 1022px;
  background-image: url(bg_why_us.png);
  background-repeat: no-repeat;
  background-position: right top; }

.why_us_wrap {
  padding: 0 88px; }

.why_us_wrap h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 40px; }

.why_us_content {
  padding: 100px 0;
  font-size: 24px; }

.why_us_content section {
    padding: 16px 0; }

.why_us_content h2 {
    padding: 12px 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 41px; }

.why_us_content ul {
    padding-left: 16px; }

.why_us_content ul li {
      line-height: 41px; }

.why_us_content ul li:before {
        content: '-';
        position: absolute;
        margin-left: -16px; }

@font-face {
  font-family: 'roboto';
  src: url(Roboto-Regular.ttf); }

@font-face {
  font-family: 'roboto-light';
  src: url(Roboto-Light.ttf); }

body {
  margin: 0;
  background-color: #FFFFFF;
  color: rgba(34, 34, 34, 0.9);
  font-family: 'roboto-light';
  font-size: 14px;
  line-height: 16px; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  opacity: 0.7; }

.wrapper {
  min-width: 1080px; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

textarea:focus, input:focus {
  outline: none; }

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #FFFFFF; }

button:focus {
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input {
  color: rgba(34, 34, 34, 0.9); }

