.why_us {
  min-height: 1022px;
  background-image: url('./assets/bg_why_us.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.why_us_wrap {
  padding: 0 88px;

  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 40px;
  }
}

.why_us_content {
  padding: 100px 0;
  font-size: 24px;

  section {
    padding: 16px 0;
  }

  h2 {
    padding: 12px 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 41px;
  }

  ul {
    padding-left: 16px;
    li {
     line-height: 41px;

     &:before {
      content: '-';
      position: absolute;
      margin-left: -16px;
     }
    }
  }

}